# Manifest used for source and binary distributions.

# Only need to explicitly include the copyright notice and the changelog.
# The readme, licence and manifest files all pet pulled in automatically
# or from the settings in setup.py

include COPYRIGHT.txt
include CHANGELOG.rst

exclude setup.cfg
exclude pyproject.toml

recursive-include src/daterange/ *

recursive-exclude src/daterange/tests *

recursive-exclude * .cache
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
