{% load i18n %}
        
<h3>By {{ title }}:</h3>
{% if media %}
<script type="text/javascript" src="/media/admin/js/calendar.js"></script>
<script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>
<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css" />
{% endif %}

<form method="GET" action="">
<ul>
<li><a href="?{{ query }}">{% trans 'any date' %}</a></li>
{{ form.as_ul }}
<li> <input type="submit" value="{% trans 'go' %}"> </li>
</ul>
</form>
